{% extends 'base.html' %}

{% block title %}{{ task.task_name }}{% endblock %}

{% block content %}

<h2>{{task.task_name}}</h2>

<form action="{% url 'bert_classifier:index' %}" method="POST">

    {% csrf_token %}

    <button type="submit">На главную</button>

</form>

<hr>

    {% if latest_predictions %}

        {% for p in latest_predictions %}
            <p>
                <strong>Image</strong><br>
                <img src="{{ p.image.url }}" alt="img" style="max-height:200px"><br>
                <strong>Prediction:</strong>
                <pre>{{ p.image_class }}</pre>
            </p>
        {% endfor %}

    {% else %}
    Нет предыдущих результатов.
    {% endif %}

</hr>

<form action="{% url 'image_classification:predict' task.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Загрузить</button>
</form>

{% endblock %}