{% extends 'base.html' %}

{% block title %}{{ task.task_name }}{% endblock %}

{% block content %}

<h2>{{task.task_name}}</h2>

<form action="{% url 'bert_classifier:index' %}" method="POST">

    {% csrf_token %}

    <button type="submit">На главную</button>

</form>

<hr>

    {% if latest_predictions %}

        {% for p in latest_predictions %}
            <p>
                <strong>{{p.input_data}}</strong>
                <pre>{{p.output_data}}</pre>
            </p>
        {% endfor %}

    {% else %}
    Нет предыдущих результатов.
    {% endif %}

</hr>

<form action="{% url 'bert_classifier:predict' task.id %}" method="POST">

    {% csrf_token %}

    <textarea name="text" required="" placeholder="Введите текст" cols="70" rows="10"></textarea><br>
    <button type="submit">Классифицировать текст</button>

</form>

{% endblock %}