{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'bert_classifier/style.css' %}">

{% if tasks_list %}
<ul>
    {% for task in tasks_list %}
        {% if task.task_name == "Text Classification" %}
            <li><a href="{% url 'bert_classifier:detail' task.id %}">{{ task.task_name }}</a></li>
        {% endif %}
        {% if task.task_name == "Image Classification" %}
            <li><a href="{% url 'image_classification:detail' task.id %}">{{ task.task_name }}</a></li>
        {% endif %}
        {% if task.task_name == "Dialog Bot" %}
            <li><a href="{% url 'dialog_bot:detail' task.id %}">{{ task.task_name }}</a></li>
        {% endif %}

    {% endfor %}
</ul>
{% else %}
<p>No tasks are available.</p>
{% endif %}

{% endblock %}
